import 'common.gcl' as common

config build = common.third_party_apps_test {
  params {
    platforms = [{{range .ThirdPartyTestPlatforms}}
      '{{.}}',{{end}}
    ]
{{if eq .Arch "aarch64"}}    arch = 'arm64'
{{end}}  }
}
