[Unit]
Description=Google Sub-Agent
PartOf=google-agents.target
After=google-master-agent.service
RefuseManualStart=true
RefuseManualStop=true

[Service]
ExecStart=/home/dbtucker/sub/sub
Restart=always
