[Unit]
Description=Google Ops Agents Noop
PartOf=google-agents.target
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/bin/true
