#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
code_version=$(shell echo $(DEB_VERSION) | sed -n -e 's/~.*//p')
#include /usr/share/cdbs/1/rules/debhelper.mk
%:
	dh $@
override_dh_auto_configure:
	true
override_dh_auto_build:
	true
override_dh_auto_install:
	CODE_VERSION=$(code_version) BUILD_DISTRO=$(DEB_DISTRIBUTION) DESTDIR=$$PWD/debian/google-cloud-ops-agent ./build.sh

override_dh_installsystemd:
	dh_installsystemd google-cloud-ops-agent.service

override_dh_systemd_start:
	dh_systemd_start google-cloud-ops-agent.service
