import 'common.gcl' as common
import '../../image_lists.gcl' as image_lists

config build = common.ops_agent_test {
  params {
    platforms = image_lists.{{.Codename}}.release
{{if eq .Arch "aarch64"}}    arch = 'arm64'
{{end}}  }
}
